<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Catálogo de Séries e Filmes</title>
        <link rel="stylesheet" href="estilos2.css">    
    </head>
    <body class="bg">
        <nav ul id="menu-h">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="uc_list.html">Catálogo de Séries/Filmes</a></li>
            </ul>
        </nav>
        <h1 style="text-align: center;">Catálogo</h1>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table">
                        <thead>
                            <th>Título</th>
                            <th>Tipo</th>
                            <th>Temporada</th>
                            <th>Episódio</th>
                            <th>Data</th>
                        </thead>
                        <tbody>
                            {% for uc in ucs%}
                            <tr>
                                <td>{{uc.titulo}}</td>
                                <td>{{uc.tipo}}</td>
                                <td>{{uc.temporada}}</td>
                                <td>{{uc.episodio}}</td>
                                <td>{{uc.data}}</td>
                                <td><a href="/uc/update/{{uc.id}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Alterar</a>
                                    <td><a href="/uc/update/{{uc.id}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Alterar</a>
                                        <a href="/uc/delete/{{uc.id}}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Apagar</a></td>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="/uc/create" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Novo</a>
            </div>
        </div>
    </body>
</html>